@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%; 
   font-family: 'Montserrat', Arial, Helvetica, sans-serif
}

body {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar
{
    border-bottom: 1px solid #00000022;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
}

.navButton
{
    height: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.navButton:hover
{
    background-color: #00000022;
}

.navButton img
{
    height: 50%;
    pointer-events: none;
}

.helpButton
{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 18px;
    width: 18px;
    border: 2px solid black;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.helpButton p
{
    pointer-events: none;
    font-weight: bolder;
    font-size: 0.7rem;
}

.gameCont
{
    width: min(90vw, 450px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    position: relative;
    z-index: 100;
    height: 100%;
    padding: clamp(8px, 4svh, 36px) 0;
}

.logo
{
    text-align: center;
}

.logo span
{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo p
{
    font-size: 0.8rem;
}

.centralCont
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
}

.gameTable
{
    width: 100%;
    background-color: black;
    aspect-ratio: 1;
    border: 1px solid black;
    position: relative;
}

tbody
{
    position: relative;
    width: 100%;
    height: 100%;
}

.cell {
    background-color: white;
    width: 20%;
    height: 20%;
    min-width: calc((100% * 0.1) + 10px);
    min-height: calc((100% * 0.1) + 10px);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
}

.lineSelect
{
    background-color: rgb(206, 244, 255);
}

.cellSelect
{
    background-color: rgb(248, 255, 183);
}

.cellBlocked {
    background-color: black;
    cursor: default;
    pointer-events: none;
}

.clueBox
{
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}

#clue
{
    font-size: clamp(10px, 3.4vw, 14px);
    height: min-content;
    user-select: none;
    -webkit-user-select: none;
}

.clueArrow
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

.clueArrow p
{
    font-size: 2rem;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    height: min-content;
}

.mobileKB
{
    display: none;
    row-gap: 4px;
    width: 100%;
    align-items: center;
}

.kbRow
{
    display: flex;
    column-gap: 4px;
    width: 100%;
    justify-content: center;
}

.kbKey
{
    border-radius: 4px;
    width: calc(min(90vw, 450px) / 11);
    padding: 8px 0;
    box-shadow: 0 0 5px #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kbKey img
{
    width: 60%;
}

.kbKey p
{
    text-transform: uppercase;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.overScreen
{
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background-color: #00000055;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.winWindow
{
    width: calc(min(90vw, 450px) * 0.8);
    text-align: center;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 0 14px #000000cc;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    transition: transform 0.4s ease;
    transform: scale(0.01);
    user-select: none;
    -webkit-user-select: none;
}

.helpWindow
{
    width: min(95%, 600px);
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow-y: auto;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 0 14px #000000cc;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    transition: transform 0.4s ease;
    transform: scale(0.01) translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
}

.closeButton
{
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
}

.showOverScreen
{
    visibility: visible;
    z-index: 101;
}

.winned
{
    transform: scale(1);
}

.helpShow
{
    transform: scale(1) translate(-50%, -50%);
}

#pseudo
{
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: absolute;
}

.backButton
{
    background-color: rgb(25, 73, 115);
    color: white;
    font-size: 1rem;
    padding: 4px 12px;
    font-weight: bolder;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
}

.archiveNode
{
    padding: 4px 12px;
    border-radius: 8px;
    width: fit-content;
    box-shadow: 0 0 6px #00000088;
}

.archivesDisplay
{
    width: 100%;
    margin-top: 20px;
    height: fit-content;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1100px)
{
    .mobileKB
    {
        display: flex;
        flex-direction: column;
    }

    #pseudo
    {
        display: none;
    }
}

@media only screen and (min-width: 1100px)
{
    .centralCont
    {
        width: min(100%, 45svh);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
